.footer {
    width: 100%;
    flex: 0 0 auto;

    background-color: #1558ad;
    color: #ffffff;

    padding: 13px 32px;
}

.footer-content {
    width: min(970px, 100%);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.footer p {
    font-size: 0.95rem;
    font-weight: 400;
}

.footer-credit {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer-credit img {
    width: 14px;
    height: 14px;
}

@media (max-width: 640px) {
    .footer {
        padding: 13px 20px;
    }

    .footer-content {
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        gap: 6px;
    }

    .footer p {
        font-size: 0.95rem;
    }
}
